@media only screen and (max-width: 1200px) {

    .width-wrapper {
        max-width: 1000px;
        width: 100%;
        margin: 0 auto;
    }

    .home-logo i {
        font-size: 40px;
    }

    .nav-wrapper {
        max-width: 900px;
    }

    .nav-icons {
        font-size: 15px;
    }

    .nav-item-wrapper span {
        font-size: 12px;
    }

    .intro-content-wrapper {
        margin-right: 165px;
        width: 800px;
    }

    .about-our-company-content {
        width: 664px;
    }

    .intro-slider-btns-wrapper {
        width: 19%;
    }

    .our-work-card {
        margin-right: 25px;
    }

    .best-compnay-description {
        width: 900px;
    }

    .consulting {
        width: 1165px;
    }

    .sub-form h4 {
        margin-right: 0px;
    }

    .sub-form form {
        margin-right: auto;
    }

    .social-networks {
        margin-right: 0px;
    }
}


@media only screen and (max-width: 1024px) {
    .width-wrapper {
        max-width: 800px;
        width: 100%;
        margin: 0 auto;
    }

    .home-logo i {
        font-size: 40px;
        margin-right: 100px;
    }

    .nav-wrapper {
        max-width: 780px;
    }

    .nav-icons {
        font-size: 13px;
    }

    .nav-item-wrapper span {
        font-size: 11px;
    }

    .nav-wrapper a {
        padding: 8px;
    }

    .nav-wrapper a:hover {
        padding: 8px;
    }

    .intro-section {
        height: 420px;
    }

    .intro {
        bottom: 345px;
    }

    .intro-content-wrapper {
        margin-right: 55px;
        width: 800px;
    }

    .intro-btns-wrapper {
        padding-top: 0px;
    }

    .read-more-btn, .contact-us-btn {
        padding: 15px 20px;
    }

    .intro-slider-btns-wrapper {
        top: 483px;
    }

    .left-slider-btn::after {
        top: 17px;
        left: 33px;
    }

    .right-slider-btn::after {
        top: 18px;
        left: 21px;
    }

    .right-slider-btn:hover::after {
        top: 18px;
        left: 21px;
    }

    .left-slider-btn, .right-slider-btn {
        width: 80px;
        height: 62px;
    }

    .intro-background img {
        object-fit: contain;
        height: 420px;
    }

    .intro-heading {
        font-size: 38px;
        line-height: 38px;
        margin-bottom: 10px;
    }

    .sub-intro-heading {
        font-size: 60px;
        line-height: 47px;
    }

    .intro-description {
        font-size: 15px;
        padding-top: 15px;
    }

    .intro-content-wrapper {
        margin-right: 100px;
        width: 600px;
    }

    .about-our-company-content {
        width: 664px;
    }

    .intro-slider-btns-wrapper {
        width: 19%;
    }

    .heading-wrapper {
        margin-top: auto;
    }

    .what-we-do-heading {
        font-size: 40px;
        margin-top: 135px;
    }

    .what-we-do-card {
        max-width: 200px;
    }

    .what-we-do-cards-wrapper article~article {
        margin: initial;
    }

    .card-icon-wrapper i {
        font-size: 55px;
    }

    .card-heading {
        font-size: 17px;
    }

    .card-description {
        font-size: 13px;
        line-height: 20px;
    }

    .card-read-more-wrapper a {
        padding: 5px;
        font-size: 13px;
        margin-left: 7px;
    }

    .card-read-more-wrapper a:hover {
        padding: 5px;
    }

    .what-we-do-cards-wrapper {
        margin-bottom: 50px;
    }

    .about-our-company-content {
        margin-top: 60px;
    }

    .about-our-company-heading {
        font-size: 40px;
        margin-bottom: 30px;
    }

    .about-our-company-description {
        font-size: 13px;
        line-height: 21px;
        margin-right: auto;
        width: 490px;
    }

    .about-our-company-right-wrapper img {
        height: 359px;
    }

    .our-work-slider-wrapper {
        margin-top: 65px;
    }

    .our-work-heading {
        font-size: 40px;
    }

    .our-work-arrows-wrapper {
        top: 270px;
    }

    .our-work-card:nth-child(1n+2) {
        display: none;
    }

    .our-work-card-BG-wrapper {
        width: min-content;
    }

    .our-work-cards-wrapper {
        width: inherit;
        text-align: center;
    }

    .our-work-card {
        margin-right: 0px;
    }

    .our-work-card img {
        width: 425px;
    }

    .our-work-card-read-more-wrapper span {
        position: relative;
        font-size: 17px;
        padding: 5px;
        left: 10px;
        bottom: 177px;
    }

    .our-work-card-read-more-wrapper {
        display: block;
        max-width: 425px;
        max-height: 327px;
    }

    .our-work-arrows-wrapper {
        left: 490px;
    }

    .best-company-background-wrapper {
        max-height: 500px;
    }

    .best-company-content-wrapper {
        bottom: 390px;
    }

    .best-company-heading {
        font-size: 40px;
        margin-bottom: 80px;
    }

    .best-compnay-description {
        width: 770px;
    }

    .best-company a {
        font-size: 13px;
        margin-top: 70px;
        padding: 20px 20px;
        width: 165px;
    }

    .best-company {
        height: 500px;
    }

    .our-sustomers-say h4 {
        font-size: 40px;
        margin-top: 130px;
    }

    .our-customers {
        max-width: 900px;
    }

    .customer-slider-content {
        max-width: 800px;
        height: 202px;
    }

    .comment {
        max-width: 506px;
        height: 90px;
        margin-bottom: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .customer-slider a {
        justify-content: center;
    }

    .customer-right-arrow {
        padding-left: 0px;
    }

    .consulting {
        width: 100%;
        margin-top: 100px;
    }

    .consulting-top p {
        font-size: 40px;
    }


    .consulting-top a {
        padding: 20px 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


@media only screen and (max-width: 768px) {
    .width-wrapper {
        max-width: 600px;
    }

    .nav-wrapper {
        max-width: 450px;
    }

    .nav-wrapper ul li a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .text-decorate {
        display: none;
    }

    .home-logo-wrapper {
        margin-left: 0px;
    }

    .home-logo i {
        margin-right: 0px;
    }

    .nav-item-wrapper {
        max-width: 335px;
        width: 100%;
        display: flex;
        flex-basis: 33.33%;
    }


}