@media all and (max-width: 768px) {
    header {
        display: flex;
        max-width: 768px;
        width: 100%;
        margin: 0 auto;
        justify-content: space-between;
        height: 95px;
    }

    .home-icon-wrapper {
        font-size: 25px;
        padding-left: 50px;
        padding-top: 25px;
    }

    .navigation-wrapper {
        max-width: 640px;
        width: 100%;
    }

    header ul {
        padding: 0px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        margin: 0;
        font-family: Helvetica, sans-serif;
        font-weight: 700;
        font-size: 13px;
        line-height: 28px;
    }

    header li a {
        display: flex;
        flex-direction: column;
        text-align: center;
        text-decoration: none;
        color: #373737;
        width: 163px;

    }

    .text-decorate {
        display: none;
    }


    .paint-your-home {
        background-image: url(images/paint-roller.jpg);
        max-width: 100vw;
        height: 300px;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .article-heading {
        padding-top: 42px;
        text-align: center;
        font-size: 30px;
        text-transform: uppercase;
        font-weight: 700;
        line-height: 42px;
        margin-bottom: 0px;
    }

    .sub-heading {
        font-size: 45px;
        line-height: 11px;
        color: #2c5679;
    }

    .paint-home {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .article-description {
        font-size: 12px;
        width: 400px;
        text-align: center;
        line-height: 20px;
        font-weight: 800;
        margin-bottom: 10px;
    }

    .btn-wrapper {
        padding-right: 140px;
    }

    .read-more {
        margin-right: 21px;
        background-color: #ff0000;
        text-decoration: none;
        padding: 10px 15px;
        border-radius: 10px;
    }

    .contact-us {
        background-color: #1880a0;
        text-decoration: none;
        padding: 10px 15px;
        margin-right: 8px;
        border-radius: 10px;

    }

    .btns-align {
        width: 100vw;
        padding-top: 0px;
        margin: 0 auto;
    }

    .btns-wrapper {
        margin: 0 auto;
        /* padding-left: 15px; */
        text-align: center;
    }

    .btns-wrapper img {
        width: 15px;
    }

    .left-arrow, .right-arrow {
        width: 55px;
        height: 50px;
        border: none;
        cursor: pointer;
    }

    .left-arrow {
        background-color: white;
        box-shadow: 0px 0px 8px 0px #000000;
    }

    .right-arrow {
        background-color: #1880a0;
        box-shadow: 0px 0px 8px 0px #000000;
    }

    .description-main-heading {
        font-size: 25px;
        padding-top: 80px;
    }

    .descriptions {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        text-align: center;
    }

    .first {
        padding: 0px;
    }

    .single-description {
        margin-top: 10px;
    }

    .single-description i {
        font-size: 40px;
    }

    .single-description h3 {
        font-size: 15px;
        width: 100%;
    }

    .description-content {
        font-size: 10px;
        line-height: 15px;
        padding-bottom: 0px;
    }

    .more-description {
        font-size: 10px;
    }

    .more-description i {
        font-size: 10px;
        margin-bottom: 20px;
    }

    .second {
        padding: 0;
    }

    .company-description {
        padding-bottom: 50px;
    }

    .about-us-left {
        display: none;
    }

    .about-us-right {
        width: 100%;
        box-shadow: inset 200px 0px 500px 90px #e6e1e1;
    }

    .responsive {
        display: block;
        text-align: right;
        width: 100%;
        padding: 0px;
    }

    .responsive-about-us {
        display: block;
    }

    .about-us-heading {
        text-align: center;
    }

    .about-us-content {
        line-height: 26px;
        padding-bottom: 50px;
        text-align: center;
    }

    .about-our-company-more-wrapper {
        text-align: center;
    }

    .more-about-us {
        color: black;
    }

    .more-about-us:hover {
        border-color: black;
    }


    .our-work-btns {
        display: none;
    }

    .our-work-heading-div {
        width: 100%;
        padding-top: 100px;
        text-align: center;
        position: inherit;
    }

    .our-work-card-container {
        flex-direction: column;
        width: 450px;
        height: 348px;
    }

    .our-work-card {
        height: 100%;
    }

    .our-work-slider {
        margin-top: 120px;
    }

    .our-work-card a img {
        margin: 0;
        width: 450px;
        height: auto;
    }

    .our-work-card:nth-child(1n + 3) {
        display: none;
    }

    .hidden {
        display: block;
        height: 0px;
    }

    .hidden-left-arrow {
        position: relative;
        top: 143px;
        right: 65px;
        padding: 10px;
        box-shadow: 0px 0px 13px -2px #000;
        border-radius: 20px;
    }

    .hidden-right-arrow {
        position: relative;
        bottom: 206px;
        left: 470px;
        padding: 10px;
        background-color: #1880a0;
        box-shadow: 0px 0px 13px -2px #000;
        border-radius: 20px;
    }

    .hidden-left-arrow:hover{
        box-shadow: 0px 0px 13px -2px #ff0a0a;
        background-color: rgb(233, 233, 233);
    }

    .hidden-right-arrow:hover{
        background-color: #26b8e4;
        box-shadow: 0px 0px 13px -2px #ff0a0a;
    }

    .our-work-card a {
        text-decoration: none;
        width: 100%;
        height: 100%;
    }

    .our-work-card a:hover span {
        padding: 10px;
        border: 1px solid white;
        border-radius: 10px;
    }

    .our-work-card a span {
        position: relative;
        bottom: 185px;
        left: 170px;
        text-transform: uppercase;
        color: white;
        font-weight: 700;
        text-shadow: 2px 2px 8px #000;
        padding: 15px;
    }

    /* .our-work-card::before {
        content: url(images/left-arrow.png);
        padding: 10px;
        display: flex;
        margin: auto 0;
        align-items: center;
        background-color: white;
        box-shadow: 0px 0px 9px 0px #080808;
        position: relative;
        left: 20px;

    }

    .our-work-card::after {
        content: url(images/right-arrow.png);
        padding: 10px;
        display: flex;
        margin: auto 0;
        align-items: center;
        background-color: #1880a0;
        box-shadow: 0px 0px 9px 0px #080808;
        position: relative;
        right: 20px;
    } */

    .card-read-more {
        position: relative;
        left: 170px;
        bottom: 175px;
        text-shadow: -3px 0px 5px black;
    }

    .best-paint-company {
        background-size: contain;
        height: 303px;
    }

    .best-paint-company-heading {
        padding-top: 50px;
        font-size: 30px;
    }

    .best-paint-company-content {
        width: 90%;
        padding-top: 25px;
        padding-bottom: 35px;
        font-size: 14px;
    }

    .read-more-best-paint {
        font-size: 14px;
        line-height: 10px;
        padding: 10px 25px;
    }

    .our-customers-heading {
        font-size: 30px;
        line-height: 20px;
        padding-top: 80px;
    }

    .our-customers-wrapper {
        display: flex;
        width: 70%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 50px;
    }

    .our-customers-slider {
        justify-content: space-between;
    }

    .customer-right {
        padding-right: 20px;
    }

    .headings {
        padding-bottom: 25px;
        padding-top: 25px;
        text-align: center;
        width: auto;
    }

    .name {
        text-align: center;
    }

    .job-description {
        text-align: center;
        width: auto;
    }

    .customer-feedback {
        padding-top: 0px;
        padding-bottom: 20px;
        text-align: -webkit-center;
    }

    .get-consulting {
        display: flex;
        justify-content: space-evenly;
        max-width: 768px;
        width: 100%;
    }

    .get-free-consulting {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .consulting-heading-wrapper {
        line-height: 30px;
        padding-left: 0px;
        padding-right: 70px;
    }

    .getconsulting-heading {
        font-size: 25px;
    }

    .get-counsulting-heading-cont {
        font-size: 25px;
    }

    .get-consulting-btn {
        padding: 2px 50px;
    }

    .random-content {
        display: none;
    }

    .footer-nav {
        max-width: 768px;
        width: 80%;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .follow-us-wrapper {
        max-width: 768px;
    }

    .follow-us-heading {
        margin-right: auto;
    }

    .social-networks {
        max-width: 768px;
        margin-right: auto;
    }
}